openapi: 3.0.1
info:
  title: Policies
  version: 0.8.0
  # yamllint disable rule:indentiation
  description: |
    # Policendaten-API (Deutsch)

    **** Deutsch (for English see below) ****

    Mit dem Policendaten-API können Daten zur versicherten Person und zur Police abgefragt werden.
    Dies umfasst vereinfacht gesagt die Daten, die auf dem Versicherungsausweis zu finden sind.
    Auch die Erstellung bzw. das Beziehen von bereits erstellten Versicherungsausweisen als PDF-Datei
    ist möglich.

    Als Einstieg fürs Policendaten-API wird eine technische Personen- oder Policen-ID benötigt.
    Dies wird vom Consent API geliefert.

    Die beiden wesentlichen Objekte dieses APIs sind *Person* und *Police*. Person bezieht sich
    immer auf eine natürliche Person, die bei einer Pensionskasse versichert ist.

    Die Police beschreibt den indirekten Versicherungsvertrag zwischen der versicherten Person
    (ArbeitnehmerIn) und der Pensionskasse. Ist eine Person über zwei Vorsorgepläne versichert,
    z.B. über einen Basis- und einen zusätzlichen Kaderplan, so hat sie zwei Policen.

    Wo es relevant ist, Angaben in den obligatorischen und den über-obligatorischen Teil
    aufzutrennen, wird jeweils das Total (obligatorisch plus über-obligatorisch) und der
    obligatorische Wert separat ausgewiesen. Falls der über-obligatorische Wert benötigt wird, muss
    er vom API-Konsumenten selbst berechnet werden (Differenz zwischen den beiden Werten).

    Ausgenommen davon sind Zinssätze und Umwandlungssätze. Hier werden entweder der obligatorische
    und der über-obligatorische Satz als zwei separate Werte geliefert, oder dann wird der
    umhüllende Satz geliefert.

    Das API umfasst auch die Simulation einer Änderung des Beschäftigtengrads und/oder Lohns. Die
    Simulation berechnet die Effekte auf die monatlichen Beiträge sowie auf die voraussichtlichen
    Rentenleistungen bei unterschiedlichem Penionierungsalter.

    Die in dieser Spezifikation angegebenen URLs sind nur Beispiel-URLs. Das API wird von einer
    Vielzahl von Pensionskassen implementiert und jede Pensionskasse hat eine andere Basis-URL
    für das API. Die Basis-URL der jeweiligen Pensionskasse wird vom Directory API geliefert.


    # Policies API (English)

    **** English (für Deutsch siehe weiter oben) ****

    The Policies API serves to query details about the insured person and insurance policies.
    In simplified terms, this includes the data found on the insurance certificate.
    Additionally, policy statements can be generated or already generated statements can be
    retrieved as PDF files.

    Person and policy IDs serve as the entry point for this API. They are provided by the
    Consent API.

    The two main objects are *person* and *policy*. A person refers to a natural person
    insured with a pension fund.

    A policy describes the indirect contractural relationship between the insured person
    (employee) and the pension fund. If a person is insured by two separate insurance plans,
    e.g. a basic and a supplementary executive plan, the person has two separate plans.

    If it is relevant to distinguish between the mandatory and the supplementary insurance
    coverage, a total value (mandatory and supplementary values combined) and a mandatory
    coverage value are provided seperately. If the value for the supplementary coverage is
    required, the API consumer must calculate it (difference between the two values).

    Interest and conversion rates are the exception to this rule. The pension fund either
    provides two separate values for the mandatory and the supplementary part, or  they
    provide a single enveloping value.

    The API also includes the simulation of a change of employment level and/or salary. It
    calculates the effects on the monthly contributions as well as the effects of the
    perspective pension benefits for different retirement ages.

    The URLs in the specification are examples only. The API is implemented by a many
    pension funds and each pension fund has an individual base URL for the API.
    The base URL of a specific pension fund is provided by the directory API.


    ### Glossar / Glossary

    Folgende englischen Begriffe werden im API verwendet:

    - **Social Security Number (SSN)**: Sozialversicherungsnummer (SVN) - 13 stellige, Schweizer Sozialversicherungsnummer.
    - **Mandatory / supplementary coverage**: Obligatorischer / überobligatorische Anteil / Deckung
    - **Retirement benefits**: Versicherungsleistungen bei Pensionierung (Altersrente und Altersguthaben)
    - **Risk benefits**: Versicherungsleistungen bei Invalidität und Tod
    - **Enveloping interest/conversion rate**: Umhüllender Zinssatz / Umwandlungssatz
    - **Retirement capital**: Altersguthaben / Alterskapital
    - **Savings contribution**: Sparbeitrag (Beitrag an Altersgutben)
    - **Risk contribution**: Risikobeitrag (Beitrag für Leistungen bei Invalidität und Tod)
    - **Vested benefits**: Freizügigkeitsleistungen
  # yamllint enable rule:indentiation

  contact:
    email: info@common-api.ch

  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html

externalDocs:
  description: Find out more about SFTI API specifications
  url: https://www.common-api.ch

tags:
  - name: person
    description: Insured person
  - name: policy
    description: Pension fund policy
  - name: simulation
    description: Simulation of salary changes
servers:
  - url: https://openpk.ch/v1

security:
  - bearerAuthentication: []

paths:
  /insured-persons/{personId}:
    get:
      summary: Get details of an insured person
      operationId: getInsuredPerson
      description: |
        Provides the details of the insured person, including name, address and
        additional data relevant in the Swiss social security system (birth date, sex etc.)
      tags:
        - person
      parameters:
        - name: personId
          in: path
          description: Technical person ID
          required: true
          schema:
            $ref: '#/components/schemas/personId'
      responses:
        '200':
          description: Details of insured person
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/insuredPerson'
        '401':
          description: Access token is missing or invalid
          content: {}
        '404':
          description: Invalid person ID / no authorization to access data
          content: {}

  /policies/{policyId}:
    get:
      summary: Get details of a pension fund policy
      operationId: getPolicy
      description: |
        Provides extensive details about the insurance policy including current retirement capital,
        prospective pension benefits for different retirement ages, contributions to financing the
        insurance etc.
      tags:
        - policy
      parameters:
        - name: policyId
          in: path
          description: Technical policy ID
          required: true
          schema:
            $ref: '#/components/schemas/policyId'
      responses:
        '200':
          description: Policy details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/policy'
        '401':
          description: Access token is missing or invalid
          content: {}
        '404':
          description: Invalid policy ID / no authorization to access data
          content: {}

  /policies/{policyId}/statement/recent:
    get:
      summary: Get the most recent policy statement
      operationId: getRecentPolicyStatement
      description: |
        Provides the most recent policy statement as a PDF document
        in the insured person's preferred language.

        If possible, pension funds should provide a statement as of end of the
        last business day. At the minimum, they must provide the latest annual statement.
      tags:
        - policy
      parameters:
        - name: policyId
          in: path
          description: Technical policy ID
          required: true
          schema:
            $ref: '#/components/schemas/policyId'
      responses:
        '200':
          description: Binary PDF data of the policy statement
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          description: Access token is missing or invalid
          content: {}
        '404':
          description: Invalid policy ID / no authorization to access data
          content: {}

  /policies/{policyId}/statement:
    post:
      summary: Get the policy statement for the specified date
      operationId: getPolicyStatementByDate
      description: |
        Provides the policy statement representing the policy state for the specified date
        as a PDF document in the insured person's preferred language.

        If the pension fund is unable to provide a statement for the request date, the error
        code 400 should be returned.
      tags:
        - policy
      parameters:
        - name: policyId
          in: path
          description: Technical policy ID
          required: true
          schema:
            $ref: '#/components/schemas/policyId'
      requestBody:
        description: Reference date for information in generated document
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/referenceDate'
      responses:
        '200':
          description: Binary PDF data of the policy document
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Invalid reference date (invalid format or unable to provide statement for the requested date)
          content: {}
        '401':
          description: Access token is missing or invalid
          content: {}
        '404':
          description: Invalid policy ID / no authorization to access data
          content: {}

  /policies/{policyId}/salary-change-simulation:
    post:
      summary: Simulate effects of salary and employment level change
      operationId: simulateSalaryChange
      description: |
        Simulates the effects of a salaray and/or employment level change on contributions
        and prospective retirement benefits. Prospective retirements benefits are calculated
        for retirement at the regular age as well as for multiple early retirement ages.
      tags:
        - simulation
      parameters:
        - name: policyId
          in: path
          description: Policy ID
          required: true
          schema:
            $ref: '#/components/schemas/policyId'
      requestBody:
        description: Salary change simulation parameters
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/salaryChangeSimParameters'
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salaryChangeSimResult'
        '401':
          description: Access token is missing or invalid
          content: {}
        '404':
          description: Invalid policyId
          content: {}

components:
  securitySchemes:
    bearerAuthentication:
      type: http
      description: Bearer access token in HTTP header
      scheme: bearer
      bearerFormat: JWT

  schemas:
    insuredPerson:
      type: object
      description: Details of insured person
      required:
        - personId
        - lastName
        - firstName
        - birthDate
        - sex
        - maritalStatus
        - ssn
      properties:
        personId:
          $ref: '#/components/schemas/personId'
        lastName:
          type: string
          description: Last name / family name
        firstName:
          type: string
          description: First name(s)
        address:
          $ref: '#/components/schemas/address'
        birthDate:
          $ref: '#/components/schemas/date'
          description: Birth date
        sex:
          type: string
          enum:
            - male
            - female
          description: |
            Sex:
            * `male`: male
            * `female`: female
        maritalStatus:
          type: string
          enum:
            - single
            - married
            - divorced
            - widowed
            - registeredPartnership
            - dissolvedRegisteredPartnership
            - unknown
          description: |
            Maritial status:
            * `single`: single
            * `married`: marrie
            * `divorced`: divorced
            * `widowed`: widowed
            * `registeredPartnership`: living in a registered partnership
            * `dissolvedRegisteredPartnership`: registered partnership has been dissolved
            * `unknown`: martial status is not known
        marriageDate:
          $ref: '#/components/schemas/date'
          description: Date of marriage (or registration of partnership)
        ssn:
          type: integer
          format: int64
          description: Social security number
        policyIds:
          type: array
          items:
            $ref: '#/components/schemas/policyId'
          description: List of IDs of policies that insured person has with this pension fund
        disabilityDegree:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          description: |
            Degree (percent) of disability according to OASI (AHV/IV).
            If not specified, 0 is assumed.
        healthReservations:
          type: array
          items:
            $ref: '#/components/schemas/healthReservation'
          description: List of health reservations

    address:
      type: object
      description: Postal/residence address
      required:
        - street
        - town
        - postalCode
        - countryCode
      properties:
        street:
          type: string
          description: Street and house number
        poBox:
          type: string
          description: PO box
        town:
          type: string
          description: Town
        postalCode:
          type: string
          description: Postal code
        countryCode:
          type: string
          pattern: '[A-Z]{2}'
          description: ISO country code

    pensionProvider:
      type: object
      description: Pension provider (foundation) administering the policy
      required:
        - providerName
      properties:
        providerId:
          type: string
          description: Swiss Enterprise Identification Number UID
        providerName:
          type: string
          description: The name of the pension provider
        providerAddress:
          $ref: '#/components/schemas/address'
          description: Postal address of the pension provider
        portalUrl:
          type: string
          description: URL of the insurance portal of the pension fund
        portalName:
          type: string
          description: offical name of the insurance portal

    employer:
      type: object
      description: Details of the insured person's employer
      required:
        - name
      properties:
        employerId:
          type: string
          description: Swiss Enterprise Identification Number UID
        name:
          type: string
          description: The name of the employer
        :
          $ref: '#/components/schemas/'
          description: The  of the employer
        industry:
          type: string
          description: The industry or sector the employer operates in

    pensionStatementSimple:
      type: object
      description: Simple, reduced pension statement consisting of only the most important information
      required:
        - personId
        - employer
        - pensionProvider
        - referenceDate
        - pensionStatementType
        - pensionPlans
        - ordinaryRetirementAge
        - earliestRetirementAge
        - salaryData
        - retirementCapital
        - riskBenefits
        - financing
        - regularPurchaseMaxAmount
        - homeOwnershipAvailableForWithdrawal
      properties:
        pensionStatementSimpleID:
          $ref: '#/components/schemas/pensionStatementID'
        personId:
          $ref: '#/components/schemas/personId'
        employer:
          $ref: '#/components/schemas/employer'
        pensionProvider:
          $ref: '#/components/schemas/pensionProvider'
        pensionStatementNo:
          type: string
          description: Pension statement number (as printed on statement)
        referenceDate:
          $ref: '#/components/schemas/date'
          description: Reference date of pension statement.
        pensionStatementType:
          $ref: '#/components/schemas/pensionStatementType'
        entryDate:
          $ref: '#/components/schemas/date'
          description: Entry date into the pension fund
        pensionPlans:
          type: array
          description: |
            List of related pension plans.
          items:
            $ref: '#/components/schemas/pensionPlan'
        ordinaryRetirementAge:
          type: integer
          format: int32
          description: Age for ordinary retirement
        earliestRetirementAge:
          type: integer
          format: int32
          description: Age for earliest possible retirement
        salaryData:
          $ref: '#/components/schemas/salaryData'
        retirementCapital:
          $ref: '#/components/schemas/retirementCapital'
        riskBenefits:
          $ref: '#/components/schemas/riskBenefits'
        financing:
          $ref: '#/components/schemas/financing'
        regularPurchaseMaxAmount:
          $ref: '#/components/schemas/regularPurchaseMaxAmount'
        homeOwnershipAvailableForWithdrawal:
          $ref: '#/components/schemas/homeOwnershipAvailableForWithdrawal'

    policy:
      type: object
      description: Details of policy
      required:
        - policyId
        - personId
        - pensionProvider
        - policyNo
        - entryDate
        - salaryData
        - retirementCapital
        - riskBenefits
        - financing
      properties:
        policyId:
          $ref: '#/components/schemas/policyId'
        personId:
          $ref: '#/components/schemas/personId'
        pensionProvider:
          $ref: '#/components/schemas/pensionProvider'
        policyNo:
          type: string
          description: Policy number (as printed on policy statements)
        entryDate:
          $ref: '#/components/schemas/date'
          description: Entry date into policy
        contractNo:
          type: string
          description: Contract number of contract between employer and pension fund
        pensionPlan:
          $ref: '#/components/schemas/pensionPlan'
        isInVestedBenefitFoundation:
          type: boolean
          description: |
            Indicates if policy is part of a vested benefit foundation (as opposed to
            a regular pension fund with payments from an employer). If the field is not
            set, a regular pension fund is assumed.
        salaryData:
          $ref: '#/components/schemas/salaryData'
        retirementCapital:
          $ref: '#/components/schemas/retirementCapital'
        riskBenefits:
          $ref: '#/components/schemas/riskBenefits'
        financing:
          $ref: '#/components/schemas/financing'
        vestedBenefits:
          $ref: '#/components/schemas/vestedBenefits'
        regularPurchaseMaxAmount:
          $ref: '#/components/schemas/regularPurchaseMaxAmount'
        homeOwnershipAvailableForWithdrawal:
          $ref: '#/components/schemas/homeOwnershipAvailableForWithdrawal'

    pensionPlan:
      type: object
      description: The pension plan defines various conditions for the occupational pension provision of the insured employees, incl. the contributions and insured benefits.
      required:
        - planName
      properties:
        planName:
          type: string
          description: Insurance plan name
        optionalSavingsPlanName:
          type: string
          description: Name of the optional savings plan

    salaryData:
      type: object
      description: Details of salary relevant for insurance
      required:
        - declaredSalary
        - insuredSalaryMandatory
        - insuredSalaryRetirement
        - insuredSalaryRisk
        - employmentLevel
      properties:
        declaredSalary:
          type: number
          format: double
          description: Gross annual salary
        bonus:
          type: number
          format: double
          description: Bonus component of the salary
        additionalSalary:
          type: number
          format: double
          description: Additional salary component
        otherSalaryComponent:
          type: number
          format: double
          description: Other salary component
        insuredSalaryMandatory:
          type: number
          format: double
          description: Annual salary insured under mandatory coverage
        insuredSalaryRetirement:
          type: number
          format: double
          description: Annual salary insured for retirement benefits (mandatory and supplementary coverage)
        insuredSalaryRisk:
          type: number
          format: double
          description: Annual salary insured for risk benefits (mandatory and supplementary coverage)
        employmentLevel:
          type: number
          format: double
          description: Level of full-time/part-time employment (in percent, 100 for full-time employment)

    retirementCapital:
      type: object
      description: Retirement capital balances for the past and projections for the future
      required:
        - balanceReferenceDate
        - balanceMandatoryReferenceDate
        - projectedRetirementBenefits
        - interestRates
      properties:
        transferredCapital:
          type: number
          format: double
          description: Total retirement capital (mandatory and supplementary coverage) brought from other funds into this fund
        transferredCapitalMandatory:
          type: number
          format: double
          description: Retirement capital under mandatory coverage brought from other funds into this fund
        balanceReferenceDate:
          type: number
          format: double
          description: Retirement capital as per a specified reference date (mandatory and supplementary coverage)
        balanceMandatoryReferenceDate:
          type: number
          format: double
          description: Retirement capital under mandatory coverage as per a specified reference date
        balanceEndCurrentYear:
          type: number
          format: double
          description: Projected retirement capital as per end of the current year (mandatory and supplementary coverage)
        balanceMandatoryEndCurrentYear:
          format: double
          type: number
          description: Projected retirement capital under mandatory coverage as per end of the current year
        projectedRetirementBenefits:
          type: array
          description: |
            Projected retirement benefits for a series of retirement ages.
            The list contains projections for each integer retirement age from 58 to the
            regular retirement age. For persons of 58 or older, the list is restricted
            to retirement ages higher than their current age.
          items:
            $ref: '#/components/schemas/retirementBenefits'
        interestRates:
          $ref: '#/components/schemas/interestRates'

    retirementBenefits:
      type: object
      description: |
        Retirement benefits for retirement at the specified age.
        The conversion rate is mandatory: either the pair for mandatory and supplementary
        coverage is provided, or the enveloping conversion rate.
      required:
        - age
        - capitalBalance
        - capitalBalanceMandatory
        - pension
      properties:
        age:
          type: integer
          format: int32
          description: Specified age used for the retirement benefits calculation
        capitalBalance:
          type: number
          format: double
          description: Retirement capital balance with interest (mandatory and supplementary coverage)
        capitalBalanceMandatory:
          type: number
          format: double
          description: Retirement capital balance with interest (mandatory coverage only)
        capitalBalanceNoInterest:
          type: number
          format: double
          description: Retirement capital balance assuming no interest on assets (mandatory and supplementary coverage)
        capitalBalanceNoInterestMandatory:
          type: number
          format: double
          description: Retirement capital balance assuming no interest on assets (mandatory coverage only)
        pension:
          type: number
          format: double
          description: Annual pension credit
        conversionRateMandatory:
          type: number
          format: double
          description: Conversion rate (capital to pension) for mandatory coverage
        conversionRateSupplementary:
          type: number
          format: double
          description: Conversion rate (capital to pension) for supplementary coverage
        conversionRateEnveloping:
          type: number
          format: double
          description: Enveloping conversion rate (capital to pension) for combined mandatory and supplementary coverage

    interestRates:
      type: object
      description: |
        A set of interest rates applicable/applied to the retirement capital, including actual rates for mandatory and supplementary coverage and a projection rate for future value calculations.
      required:
        - interestRateMandatory
        - interestRateSupplementary
        - interestRateProjectionEnveloping
      properties:
        interestRateMandatory:
          type: number
          format: double
          description: Interest rate for mandatory coverage (in percent)
        interestRateSupplementary:
          type: number
          format: double
          description: Interest rate for supplementary coverage (in percent)
        interestRateProjectionEnveloping:
          type: number
          format: double
          description: Projection enveloping interest rate for combined mandatory and supplementary coverage (in percent), used specifically for calculating projected future values.

    riskBenefits:
      type: object
      description: Benefits in case of death or disability to work
      required:
        - pensionDisability
        - childPensionDisability
        - partnerPensionDeath
        - orphanPensionDeath
        - minimalLumpSumWithPensionBenefits
      properties:
        pensionDisability: 
          type: number
          format: double
          description: Annual pension in case of disability
        pensionDisabilityFromIllness:
          type: number
          format: double
          description: Annual pension in case of disability resulting from illness
        pensionDisabilityFromAccident:
          type: number
          format: double
          description: Annual pension in case of disability resulting from accident
        childPensionDisability:
          type: number
          format: double
          description: Annual child pension in case of disability
        childPensionDisabilityFromIllness:
          type: number
          format: double
          description: Annual child pension in case of disability resulting from illness
        childPensionDisabilityFromAccident:
          type: number
          format: double
          description: Annual child pension in case of disability resulting from accident
        partnerPensionDeath:
          type: number
          format: double
          description: Annual partner pension in case of death
        partnerPensionDeathFromIllness:
          type: number
          format: double
          description: Annual partner pension in case of death resulting from illness
        partnerPensionDeathFromAccident:
          type: number
          format: double
          description: Annual partner pension in case of death resulting from accident
        orphanPensionDeath:
          type: number
          format: double
          description: Annual orphan pension in case of death
        orphanPensionDeathFromIllness:
          type: number
          format: double
          description: Annual orphan pension in case of death resulting from illness
        orphanPensionDeathFromAccident:
          type: number
          format: double
          description: Annual orphan pension in case of death resulting from accident
        lumpSumWithoutPensionBenefits:
          type: number
          format: double
          description: One-off payment in case of death where no other benefits are paid out
        minimalLumpSumWithPensionBenefits:
          type: number
          format: double
          description: Guaranteed, minimal one-off payment in case of death where other benefits are paid out

    financing:
      type: object
      description: Contributions for financing the policy
      required:
        - contributionSavingsInsuredPerson
        - contributionSavingsEmployer
      properties:
        contributionSavingsInsuredPerson:
          type: number
          format: double
          description: Annual contribution towards the retirement captial financed by the insured person
        contributionSavingsEmployer:
          type: number
          format: double
          description: Annual contribution towards the retirement captial financed by the employer
        contributionRiskInsuredPerson:
          type: number
          format: double
          description: Annual contribution towards risk benefits financed by the insured person
        contributionRiskEmployer:
          type: number
          format: double
          description: Annual contribution towards risk benefits financed by the employer
        contributionAdministrationInsuredPerson:
          type: number
          format: double
          description: Annual contribution towards fund administration financed by the insured person
        contributionAdministrationEmployer:
          type: number
          format: double
          description: Annual contribution towards fund administration financed by the employer

    vestedBenefits:
      type: object
      description: Detail information about vested benefits
      properties:
        referenceDate:
          $ref: '#/components/schemas/date'
          description: Reference date of the vested benefit information.
        capitalAt50:
          type: number
          format: double
          description: |
            The insured person's retirement capital when he/she was 50 (mandatory and supplementary).
            Empty for persons younger than 50.
        capitalAt50Mandatory:
          type: number
          format: double
          description: |
            The insured person's retirement capital when he/she was 50 (mandatory part only).
            Empty for persons younger than 50.
        capitalAtMarriage:
          type: number
          format: double
          description: |
            The insured person's retirement capital before he/she got married or entered
            a registered partnership (mandatory and supplementary). Relevant is the last
            marriage or registered partnership (the marriage/partnership date is part of
            the insured person object.)
            Empty for persons who are not married or in a registered partnership.
        capitalAtMarriageMandatory:
          type: number
          format: double
          description: |
            The insured person's retirement capital before he/she got married or entered
            a registered partnership (mandatory part only). Relevant is the last
            marriage or registered partnership (the marriage/partnership date is part of
            the insured person object.)
            Empty for persons who are not married or in a registered partnership.
        capitalFirstCommunicated:
          type: number
          format: double
          description: |
            Vested benefit capital that has been initially communicated or had become due
            after January 1, 1995 (for insured persons having married before January 1, 1995).
        capitalFirstCommunicatedDate:
          $ref: '#/components/schemas/date'
          description: |
            Date when vested benefit capital has been initially communicated or had become due
            after January 1, 1995 (for insured persons having married before January 1, 1995).
        voluntaryPurchases:
          type: array
          items:
            $ref: '#/components/schemas/capitalTransaction'
          description: |
            List of voluntary purchases of additional pension benefits made in the past.
            At least the purchases of the last 3 years must be included. They can be
            aggregated by calendar year.
        homeOwnerhsipWithdrawals:
          type: array
          items:
            $ref: '#/components/schemas/capitalTransaction'
          description: |
            List of withdrawls and refunds for home ownership promotion made in the past.
        divorceWithdrawals:
          type: array
          items:
            $ref: '#/components/schemas/capitalTransaction'
          description: |
            List of withdrawls and refunds due to divorce made in the past.
        pledges:
          type: array
          items:
            $ref: '#/components/schemas/pledge'
          description: |
            List of pledges of parts of the retirement capital.

    capitalTransaction:
      type: object
      description: |
        Capital transaction made by the insured persons. It includes volunatry purchases,
        withdrawals for and refunds of home ownerhsip promotion, withdrawals or refunds due to divorce.
      required:
        - date
        - amount
        - amountMandatory
      properties:
        date:
          $ref: '#/components/schemas/date'
          description: Date of transaction
        amount:
          type: number
          format: double
          description: |
            Total transaction amount for mandatory and supplementary part.
            The amout is positive for payments towards the capital, and negative for withdrawals.
        amountMandatory:
          type: number
          format: double
          description: |
            Transaction amount for mandatory part only.
            The amout is positive for payments towards the capital, and negative for withdrawals.

    regularPurchaseMaxAmount:
      type: number
      format: double
      description: |
        The maximum amount the insured person is permitted to contribute to their pension plan as an ordinary purchase.

    homeOwnershipAvailableForWithdrawal:
      type: number
      format: double
      description: |
        The total amount available for the insured person to withdraw or borrow against from their retirement capital for the purpose of financing home ownership.

    healthReservation:
      type: object
      description: |
        Period of health reservation.
      required:
        - startDate
      properties:
        startDate:
          $ref: '#/components/schemas/date'
          description: Start date of health reservation
        endDate:
          $ref: '#/components/schemas/date'
          description: |
            End date of health reservation.
            If no end date is specified, the health reservation is currently still in force.

    pledge:
      type: object
      description: |
        Details about pledged capital.
      properties:
        amount:
          type: number
          format: double
          description: |
            Amout of retirement capital used for pledging (mandatory and supplementary).
        amoutMandatory:
          type: number
          format: double
          description: |
            Amount of retirement capital used for pledging (mandatory part only).
        pledgee:
          type: string
          description: The name of the pledgee.
        pledgeeAddress:
          $ref: '#/components/schemas/'

    referenceDate:
      type: object
      description: Reference date for information in generated document
      required:
        - referenceDate
      properties:
        referenceDate:
          $ref: '#/components/schemas/date'

    personId:
      type: string
      pattern: '[A-Za-z0-9_\-.~]{1,64}'
      description: Technical ID of insured person used in API calls

    policyId:
      type: string
      pattern: '[A-Za-z0-9_\-.~]{1,64}'
      description: Technical ID of policy used in API calls

    pensionStatementID: 
      type: string
      pattern: '[A-Za-z0-9_\-.~]{1,64}'
      description: Technical ID of pension statement used in API calls

    pensionStatementType:
      type: string
      enum:
        - regular
        - simulated
      description: |
            pension statement type:
            * `regular`: the pension statement is an offical, regular statement on the basis of real values (not changed for simulation purposes)
            * `simulated`: the pension statement is a non-offical, simulated statement, i.e. some values might have been changed for simulation purposes

    salaryChangeSimParameters:
      type: object
      description: Salary change simulation parameters
      required:
        - declaredSalary
        - employmentLevel
      properties:
        declaredSalary:
          type: number
          format: double
          description: Changed gross annual salary in CHF (for employment level 100%)
        employmentLevel:
          type: number
          format: double
          description: Changed level of full-time/part-time employment (in percent, 100 for full-time employment)
        effectiveDate:
          $ref: '#/components/schemas/date'
          description: |
            Date when the salary change takes effect.
            If omitted: tomorrow.

    salaryChangeSimResult:
      type: object
      description: Financial effect of voluntary purchase
      required:
        - salaryData
        - projectedRetirementBenefits
        - financing
      properties:
        salaryData:
          $ref: '#/components/schemas/salaryData'
        projectedRetirementBenefits:
          type: array
          description: |
            Projected retirement benefits for a series of retirement ages.
            The list contains projections for each integer retirement age from 58 to the
            regular retirement age. For persons of 58 or older, the list is restricted
            to retirement ages higher than their current age.
          items:
            $ref: '#/components/schemas/retirementBenefits'
        financing:
          $ref: '#/components/schemas/financing'

    # ---- Common Data Model ----
    date:
      type: string
      format: date
      example: 2018-04-13

    dateTime:
      type: string
      format: date-time
      example: 2018-04-13T11:11:11Z
